---
interface LinkInterface {
  title: string;
  link?: string;
}
interface NavigationInterface extends LinkInterface {
  children?: LinkInterface[];
}

const navigations: NavigationInterface[] = [
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Blog",
    link: "/",
  },
  {
    title: "Any",
    children: [
      {
        title: "Home",
        link: "/",
      },
      {
        title: "Other",
        link: "/",
      },
    ],
  },
];
---

{
  navigations.map((item) => (
    <li>
      {item.children ? (
        <details>
          <summary>{item.title}</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            {item.children.map((children) => (
              <li>
                <a href={children.link} hx-indicator=".progress-bar">
                  {children.title}
                </a>
              </li>
            ))}
          </ul>
        </details>
      ) : (
        <a hx-indicator=".progress-bar" href={item.link}>
          {item.title}
        </a>
      )}
    </li>
  ))
}
