---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const projectList = await getCollection("project");
  return projectList.map((e) => ({
    params: {
      slug: e.slug,
    },
    props: e,
  }));
}

const {
  data: { title, cover, website, excerpt },
  render,
} = Astro.props;
const { Content } = await render();
---

<Layout title={`${title} - Taufik Project`}>
  <article class="prose mx-auto px-4">
    <header>
      <img src={cover} alt={title} />
      {
        website && (
          <section class="my-4">
            <a href={website} target="_blank" rel="noopener noreferrer">
              <span>Open Website</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="inline-flex h-4 w-4"
              >
                <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6" />
                <path d="m21 3-9 9" />
                <path d="M15 3h6v6" />
              </svg>
            </a>
          </section>
        )
      }
      <h1>
        {title}
      </h1>
    </header>
    <section><Content /></section>
    <footer></footer>
  </article>
</Layout>
