---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Section from "@/components/Section.astro";
const projects = (await getCollection("project")).sort(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
);
---

<Layout title="Projects">
  <div class="mt-10"></div>
  <Section id="featured_project" title="All Projects">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      {
        projects.map((project) => (
          <div>
            <div class="group relative aspect-video">
              <img
                class="h-full w-full object-cover"
                src={project.data.cover}
                alt={project.data.title}
              />
              <a
                href={`/projects/${project.slug}`}
                class="absolute bottom-0 left-0 right-0 top-0 hidden items-center justify-center bg-base-100/60 group-hover:flex"
                role="button"
                aria-label={`Read more about ${project.data.title}`}
              >
                <span class="btn btn-outline no-animation">Full Story</span>
              </a>
            </div>
            <div class="mt-4">
              <h3 class="text-lg font-semibold">
                <a
                  href={`/projects/${project.slug}`}
                  class="hover:text-gray-600"
                >
                  {project.data.title}
                </a>
              </h3>
              <div class="mt-2 line-clamp-3">{project.data.excerpt}</div>
            </div>
          </div>
        ))
      }
    </div>
  </Section>
</Layout>
